html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

img{
	margin-left: 10px;
	margin-right: 10px;
}

.main{
	display: grid;
	grid-template-columns: 2fr 5fr;
	height: inherit;
}

.content{
	display: grid;
	grid-auto-rows: 1fr 1fr 1fr;
	height: inherit;
	align-items: center;
}

.explain{
	display: grid;
	background-color: #006368;
	justify-items: center;
	height: inherit;
}

#logodesign{
	display: grid;
	align-items: center;
}

#logo{
	height: 200px;
	width: 210px;
}

h2{
	font-family: lora;
	color: white;
	font-size: 48px;
	text-align: center;
	align-self: start;
}

#pexplain{
	font-family: lora;
	color: white;
	max-width: 90%;
	padding: 5%;
	font-size: 20px;
}

#pexplain1{
	font-family: lora;
	color: white;
	text-align: right;
	margin-right: 10px;
}

.thumb{
	height: 200px;
	width: 200px;
}

.titlecontainer{
	font-family: lora;
	text-align: right;
	margin-right: 10px;
	padding: 5px;
	font-size: 16px;
}

h3{
	text-align: center;
	font-size: 24px;
}

.rizla{
	display: grid;
	grid-template-columns: 2fr 5fr;
}

.works{
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
	align-self: center;
	height: inherit;
}

.photocopied-thoughts{
	display: grid;
	grid-template-columns: 2fr 5fr;
	background-color: #006368;
}

.rinoma{
	display: grid;
	grid-template-columns: 2fr 5fr;
}

@media (max-width: 1160px){

	.main{
		display: grid;
		grid-template-columns: 1fr;
	}

	h2{
		font-size: 36px;
	}

	#logo{
	height: 150px;
	width: 160px;
	}

	.rizla{
	display: grid;
	grid-template-columns: none;
	grid-template-rows: 1fr 1fr;
	}

	.photocopied-thoughts{
	display: grid;
	grid-template-columns: none;
	grid-template-rows: 1fr 1fr;
	}

	.rinoma{
	display: grid;
	grid-template-columns: none;
	grid-template-rows: 1fr 1fr;
	}

	.titlecontainer{
		font-size: 14px;
		text-align: center;
	}

	#logodesign{
		margin-top: 20px;
	}

}